SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
    [ProductID] [int] NULL,
    [ComponentID] [int] NULL,
    [SupplierID] [int] NULL,
    [SupplierLocationID] [int] NULL,
    [QuantityOnHand] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[inventory] ([ProductID], [ComponentID], [SupplierID], [SupplierLocationID], [QuantityOnHand]) VALUES (680, 1, 3, 5, 71)
INSERT [dbo].[inventory] ([ProductID], [ComponentID], [SupplierID], [SupplierLocationID], [QuantityOnHand]) VALUES (706, 1, 3, 2, 34)
INSERT [dbo].[inventory] ([ProductID], [ComponentID], [SupplierID], [SupplierLocationID], [QuantityOnHand]) VALUES (707, 3, 8, 2, 97)
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
    [SupplierID] [int] NULL,
    [CompanyName] [nvarchar](max) NULL,
    [ContactName] [nvarchar](max) NULL,
    [ContactTitle] [nvarchar](max) NULL,
    [Address] [nvarchar](max) NULL,
    [City] [nvarchar](max) NULL,
    [Region] [nvarchar](max) NULL,
    [PostalCode] [nvarchar](max) NULL,
    [Country] [nvarchar](max) NULL,
    [Phone] [nvarchar](max) NULL,
    [Fax] [nvarchar](max) NULL,
    [HomePage] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Purchasing Manager', N'49 Gilbert St.', N'London', NULL, N'EC1 4SD', N'UK', N'(171) 555-2222', NULL, NULL)
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Order Administrator', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'USA', N'(100) 555-4822', NULL, N'#CAJUN.HTM#')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [HomePage]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Sales Representative', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'USA', N'(313) 555-5735', N'(313) 555-3349', NULL)
GO

CREATE TABLE Website_Bounce_rate (
    CustomerGeneration	VARCHAR(512),
    CustomerSentiment	VARCHAR(512),
    DeviceType	VARCHAR(512),
    ProductAvailability	VARCHAR(512),
    ProductCategory	VARCHAR(512),
    ProductMatch	VARCHAR(512),
    Number_of_times_products_searches_did_not_matched	INT,
    total_number_of_time_products_searches	INT,
    Website_Bounce_rate	FLOAT,
    Website_visitors	INT
);

INSERT INTO Website_Bounce_rate (CustomerGeneration, CustomerSentiment, DeviceType, ProductAvailability, ProductCategory, ProductMatch, Number_of_times_products_searches_did_not_matched, total_number_of_time_products_searches, Website_Bounce_rate, Website_visitors) VALUES ('Millennials', 'Happy', 'Tablet', 'No', 'Accessories', 'No', '2682', '4914', '0.39', '10978');
INSERT INTO Website_Bounce_rate (CustomerGeneration, CustomerSentiment, DeviceType, ProductAvailability, ProductCategory, ProductMatch, Number_of_times_products_searches_did_not_matched, total_number_of_time_products_searches, Website_Bounce_rate, Website_visitors) VALUES ('Millennials', 'Happy', 'Tablet', 'Yes', 'Accessories', 'Yes', '2682', '4914', '0.14', '10978');
INSERT INTO Website_Bounce_rate (CustomerGeneration, CustomerSentiment, DeviceType, ProductAvailability, ProductCategory, ProductMatch, Number_of_times_products_searches_did_not_matched, total_number_of_time_products_searches, Website_Bounce_rate, Website_visitors) VALUES ('Millennials', 'Happy', 'Tablet', 'Yes', 'Accessories', 'Yes', '2682', '4914', '0.17', '10978');


create table [dbo].dim_products (ProductName NVARCHAR(500), Description NVARCHAR(500), Price FLOAT, Category NVARCHAR(100), StockQuantity INT)
 
select distinct ProductName
from [dbo].dim_products;
 
 
INSERT INTO [dbo].dim_products (ProductName, Description, Price, Category, StockQuantity) VALUES ('ScreenGuard Pro', 'Tempered glass screen protector', 7.28,'Accessory',79);
INSERT INTO [dbo].dim_products (ProductName, Description, Price, Category, StockQuantity) VALUES ('CaseMate X', 'Durable phone case', 6.19,'Accessory',8);
INSERT INTO [dbo].dim_products (ProductName, Description, Price, Category, StockQuantity) VALUES ('PowerBank Z', 'Portable power bank', 11.13,'Accessory',28);
